[Desktop Entry]
Type=Application
Name=DvorakKeyboardLayout
Comment=my keyboard layout
Exec=xmodmap /home/mhf/.xmodmaprc
X-GNOME-Autostart-enabled=true
